<p><%= @house %> Family Tree</h1>
<p>On this page, the family tree of a particular house is displayed.</p>

<%= tag(:object, data: image_path(@house+"_family_tree.svg"), type: "image/svg+xml", target: "_blank") %>
