<head>
<title>House <%=  @house %></title>
</head>

<h1><%= @house %> Family Tree</h1>
<svg width="1000" height="1000" ></svg>
<%= tag(:object, id: "tree", data: image_path(@house+"_family_tree.svg"), type: "image/svg+xml", target: "_blank") %>

<style>


text {
	  font: 10px sans-serif;
	    pointer-events: none;
}

.links line {
	  stroke: #999;
	    stroke-opacity: 0.6;
}

</style>
<script>
var house =  '<%=@house%>'
$.ajax({
	   type: "GET",
           contentType: "application/json; charset=utf-8",
	   url: 'display?name='+house,
           dataType: 'json',
           success: function (data) {
		                  draw(data);
				             },
           error: function (result) {
		                  console.log("error");
				             }
       });
 
function draw(data) {
	console.log(data)
	var svg = d3.select("svg"),
	        width = +svg.attr("width"),
		    height = +svg.attr("height");

	var color = d3.scaleOrdinal(d3.schemeCategory20);

	var nodes = data.people.map(function(p) {
			return {"id": p.id, "name": p.name, "dates": dates(p), "value": 1, "father": p.father, "mother": p.mother}
			})
	var links = []
	data.people.forEach(function(p) {
			var relationships = data.relationships.filter(function(r) {
					return r.person_1 == p.id
					})
			relationships.forEach(function(r) {
				nodes.push({"id": p.id + ' ' + r.person_2, "value": 0})
				links.push({"source": p.id, "target": p.id + ' ' + r.person_2})
				links.push({"source": r.person_2, "target": p.id + ' ' + r.person_2})
			})	
			})
	data.people.forEach(function(p) {
				var parents = data.relationships.filter(function(r) {
					return (r.person_1 == p.father  && r.person_2 == p.mother)|| (r.person_2 == p.father && r.person_1 == p.mother)
					})
				if (parents.length == 1) {
					links.push({"source":p.id, "target": parents[0].person_1 + ' ' + parents[0].person_2})
				}
			})
	
	while (nodes.some(function(n) {return n.generation === undefined || isNaN(n.generation)})) {
		nodes.forEach(function(n) {
			var children = nodes.filter(function(c) {return c.father == n.id || c.mother == n.id })
			if (children.length == 0) {
				n.generation = 0
								
			} else if (!children.some(function(c) {return c.generation == undefined || isNaN(c.generation)})) {
			n.generation = 1 + Math.max.apply(null, children.map(function(c) {return c.generation}))
			}})		
	}
	nodes.forEach(function(n) {
			var children = nodes.filter(function(c) {return c.father == n.id || c.mother == n.id })
			if (children.length == 0 || children.some(function(c) {c.generation >= n.generation})) {
			var marriages = data.relationships.filter(function(r) {return r.person_1 == n.id || r.person_2 == n.id  }).map(function(r) { if (r.person_1 == n.id) {return r.person_2} else {return r.person_1}})
				if (marriages.length == 0) {
					n.generation = 0
					} else {
						var partners = nodes.filter(function(p) {return marriages.includes(p.id)})
						if (!partners.some(function(p) { return p.generation == undefined || isNaN(p.generation)})) {
						n.generation = Math.max.apply(null, partners.map(function(p) {return p.generation}))
						}
					}

			}
	})
	var rectWidth = 110;
	var rectHeight = 35;
	
	
var simulation = d3.forceSimulation()
	    .force("link", d3.forceLink().id(function(d) { return d.id; }))
	    .force("charge", d3.forceManyBody())
	    //.force("collide", d3.forceCollide(Math.max(rectWidth, rectHeight)*0.5))
	    .force("yAxis", d3.forceY(function(d) {return 1000-10*d.generation*rectHeight}))
	    .force("center", d3.forceCenter(width / 2, height / 2));
  var link = svg.append("g")
        .attr("class", "links")
	    .selectAll("path")
	        .data(links)
		    .enter().append("path")
		          .attr("stroke-width", function(d) { return 1; })
			  .attr("fill", "none")
			  .attr("stroke", "black")
	   var node = svg.append("g")
	   .attr("class", "nodes")
	   .selectAll("node")
		         .data(nodes)
			 .enter().
			 append("g")
			    
	
	var rect = node.append("rect")
	.attr("width", function(d){return d.value*rectWidth})
	.attr("height", function(d){return d.value*rectHeight})
			     .attr("stroke", "black")
			     .attr("fill", "white")
			     .attr("stroke-width", 2)
	var label =  node.append("text")
			.attr("text-anchor", "middle")
			.text(function(d) { return d.name })
	var dates = node.append("text")
			.attr("text-anchor", "middle")
			.text(function(d) { return d.dates})
function elbow(d, i) {
       			if (isNaN(d.source.id)) {	
			return "M" + d.source.x + "," + d.source.y
				+ "V" + d.target.y + "H" + d.target.x;
			} else {
				return "M" + d.target.x + "," + d.target.y
					+ "V" +  (d.target.y + (d.source.y-d.target.y)/2) + "H" + d.source.x + "V" + d.source.y;
			}
}
function dates(p) {
	result = '';
	if (p.year_of_birth > 0) {
		result += p.year_of_birth;
	} else if (p.year_of_birth == -1) {
		result += '???';
	}
	result += '-';
	if (p.year_of_death > 0) {
		result += p.year_of_death
	} else if (p.year_of_death == -1) {
		result += '???'
	}
	return result
}
	simulation
	 .nodes(nodes)
	 .on("tick", ticked) 
simulation.force("link")
.links(links)

	   function ticked() {
		    link
			         .attr("d", elbow)
		          rect
				          .attr("x", function(d) { return d.x-rectWidth/2; })
					          .attr("y", function(d) { return d.y-rectHeight/2; });
				label.attr("x", function(d) { return d.x; })
					.attr("y", function(d) { return d.y;})
				dates.attr("x", function(d) { return d.x; })
					.attr("y", function(d) { return d.y+12;})
			   }
}
var tree = document.getElementById('tree')
tree.style.width = (window.innerWidth) + "px"
tree.style.height = (window.innerHeight * 0.78) + "px"

var beforePan

beforePan = function(oldPan, newPan){
    var stopHorizontal = false, 
    stopVertical = false, 
    gutterWidth = window.innerWidth*0.1, 
    gutterHeight = window.innerHeight*0.1, 

    sizes = this.getSizes(), 
    leftLimit = -((sizes.viewBox.x + sizes.viewBox.width) * sizes.realZoom) + gutterWidth,
    rightLimit = sizes.width - gutterWidth - (sizes.viewBox.x * sizes.realZoom), 
    topLimit = -((sizes.viewBox.y + sizes.viewBox.height) * sizes.realZoom) + gutterHeight,
    bottomLimit = sizes.height - gutterHeight - (sizes.viewBox.y * sizes.realZoom)

    customPan = {}
    customPan.x = Math.max(leftLimit, Math.min(rightLimit, newPan.x))
    customPan.y = Math.max(topLimit, Math.min(bottomLimit, newPan.y))

    return customPan
}


document.getElementById('tree').addEventListener('load', function(){
  svgPanZoom(document.getElementById('tree'), {
          zoomEnabled: true,
          controlIconsEnabled: false,
          maxZoom: 5,
          minZoom: 1,
          beforePan: beforePan
        }); 
})
</script>


