<!DOCTYPE html>
<html>
<head>
  <title>ASOIAF Family Tree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<input class="HouseButton" type="button" value="All" onclick="window.location.href='/'"/>
<input class="HouseButton" type="button" value="Stark" onclick="window.location.href='/house/display?name=Stark'"/>
<input class="HouseButton" type="button" value="Tully" onclick="window.location.href='/house/display?name=Tully'"/>
<input class="HouseButton" type="button" value="Baratheon" onclick="window.location.href='/house/display?name=Baratheon'"/>
<input class="HouseButton" type="button" value="Lannister" onclick="window.location.href='/house/display?name=Lannister'"/>
<input class="HouseButton" type="button" value="Tyrell" onclick="window.location.href='/house/display?name=Tyrell'"/>
<input class="HouseButton" type="button" value="Martell" onclick="window.location.href='/house/display?name=Martell'"/>
<input class="HouseButton" type="button" value="Greyjoy" onclick="window.location.href='/house/display?name=Greyjoy'"/>
<input class="HouseButton" type="button" value="Targaryen" onclick="window.location.href='/house/display?name=Targaryen'"/>
</form>

	<%= yield %>

</body>
</html>
